body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 69px;
    background-color: #fafafa;
}

.header{
    width: 100%;
    height: 69px;
    font-size: 37px;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
    color: white;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

/* LISTA DE QUIZZES */

.criarQuizzContainer {
    margin: 152px auto 0px;
    width: 1050px;
    height: 181px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.criarQuizzContainer p {
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
    margin-bottom: 25px;
}

.criarQuizzContainer button {
    width: 146px;
    height: 40px;
    font-size: 21px;
    line-height: 25px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    color: #EC362D;
}

.todosQuizzesContainer {
    margin: 77px auto 0px;
    width: 1050px;
}

.heightAjust {
    margin-top: 152px;
}

.seusQuizzesContainer {
    display: flex;
    align-items: center;
}

.iconeAdicionar {
    margin-left: 17px;
    font-size: 30px;
    color: #EC362D;
    border-radius: 500px;
}

.todosQuizzesContainer h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    padding-top: 5px;
}

.todosQuizzes {
    display: grid;
    grid-template-columns: auto auto auto;
}

.quizz {
    width: 340px;
    height: 181px;
    position: relative;
    margin: 12px 15px 0px 0px;
}

.imagemCapaQuizz {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(./files/simpsons.png);
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.quizz p {
    position: absolute;
    top: 120px;
    left: 18px;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    width: 300px;
}

.hide {
    display: none;
}

/*Tela 3*/
main{
    width: 100%;
    height: 200% auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    margin: 45px 0;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
}

form{
    position: relative;
    width: 600px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 0 0 0;
}

.forms input{
    height: 46px;
    margin: 10px;
    font-style: italic;
    font-size: 19px;
    font-weight: 400;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    color: #BABABA;
}

.pergunta{
    width: 600px;
    padding: 0 5px;
}

.perguntas input{
    width: 100%;
}

.pergunta2{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin: 5px 0;
}

.pergunta2 ion-icon{
    width: 26px;
    height: 23px;
}

form input:focus{
    color: #000000;
    font-style:inherit;
}

h3{
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.imgHP{
    width: 100%;
}

.botaoForm{
    width: 368px;
    height: 54px;
    background-color: #EC362D;
    color: #ffffff;
    border: none;
    margin-top: 40px;
    border-radius: 15px;
    font-size: 21px;
    font-weight: 400;
}

.desaparece{
    display: none;
}

@media (max-width: 1100px) {
    .todosQuizzes {
        display: flex;
        flex-direction: column;
    }

    .todosQuizzesContainer {
        width: 340px;
    }

    .seusQuizzesContainer {
        justify-content: space-between;
    }

    .criarQuizzContainer {
        width: 340px;
    }
}
/* ----------------------------------------- */



/* PÁGINA DE UM QUIZZ */
.tituloImagem{
    color: white;
    font-size: 19px;
    font-weight: 400;
    width: 100%;
    height: 227px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imagens/capadoquizz.png);


}

.perguntas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pergunta, .fim{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    width: 759px;
    /* height: 676px; */
    background-color: white;
    transition: all .4s linear;
    box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.05);
}

.dois .caixaPergunta{
    background-color: 
    #A0438D;
}

.fim{
    height: 430px;
}

.imagemETexto{
    display: flex;
    justify-content: space-between;
    width: 688px;
}



.fim img{
    width: 364px;
    height: 273px;
    margin: 18px 21px 22px 0px;
}

.fim p{
    color: #484848;
    width: 328px;
    height: 250px;
    font-size: 19px;
    line-height: 25px;
    font-weight: 700;
    margin: 18px 0px 0px 0px;
}


.caixaPergunta, .caixaResultado{
    color: white;
    font-size: 23px;
    font-weight: 700;
    margin-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 688px;
    height: 137.99px;
    background-color: #434CA0;
}

.caixaResultado{
    background-color: #EC362D;
}


.opcoes{
    display: grid;
    grid-template-columns: auto auto;
}


.opcao{
    width: 330px;
    margin: 20px 14px;
}

.opcao img{
    margin: auto;
    height: 175px;
}

.opcao p{
    font-size: 20px;
    font-weight: 700;
    height: 34.11px;
    display: flex;
    align-items: center;
    margin-top: 7.75px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    width: 260px;
    height: 52px;
    margin-top: 57px;
    margin-bottom: 16px;
    color: white;
    background-color: #EC362D;
    border-radius: 15px;
    
}

.voltar{
    display: flex;
    align-items: center;
    font-size: 21px;
    height: 44px;
    margin-bottom: 80px;
    color: #818181;
}


/* mobile da tela 2 */

@media(max-width:1100px){

    .tituloImagem{
        height: 142px;
    }

    .pergunta, .fim{
        width: 375px;
        /* height: 436px; */
        margin-top: 28px;
     
    }
    .caixaPergunta{
        width: 340px;
        /* padding: 20px 0px 15px 0px; */
        font-size: 19px;
        height: 89px;
    }

    
    .opcoes{
       margin-top: -5px;
       margin-bottom: -7px;
    }

    .opcao{
        width: 163px;
        margin: 12px 6px 0px; 
    }

    .opcao img{
        width: 163px;
        height: 113px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .opcao p{
        font-size: 13px;
        height: 22px;
        margin-top: 0px;
    }

    .fim{
        height: 500px;
        align-items:center ;
    }

    .caixaResultado{
        width: 340px;
        padding: 23px 16px;
        box-sizing: border-box;
        font-size: 19px;

    }

    .imagemETexto{
        flex-direction: column;
        align-items: center;
    }

    .imagemETexto p{
        width: 340px;
        height: 96px;
        margin-top: -16px;
        margin-left: 19px;
        font-size: 17px;
    }
    .imagemETexto img{
        width: 340px;
        height: 255px;
        margin-left: 19px;
        margin-top: 9px;
    }

}
