body{
    font-family: 'Roboto', sans-serif;
    margin-top: 69px;
    background-color: #fafafa;
}

.header{
    width: 100%;
    height: 69px;
    font-size: 37px;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
    color: white;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}


.tituloImagem{
    /* color: white; */
    font-size: 19px;
    font-weight: 400;
    width: 100%;
    height: 227px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    top: 69px;
    left: 0px; */
    background-image: url();


}

.perguntas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pergunta, .fim{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    width: 759px;
    height: 676px;
    background-color: white;
    transition: all .2s linear;
}

.fim{
    height: 430px;
}

.imagemETexto{
    display: flex;

}


.fim img{
    width: 364px;
    height: 273px;
    margin: 18px 21px 22px 18px;
}

.fim p{
    color: #484848;
    width: 328px;
    height: 250px;
    font-size: 19px;
    line-height: 25px;
    font-weight: 700;
    margin: 18px 0px 0px 0px;
}


.caixaPergunta, .caixaResultado{
    color: white;
    font-size: 23px;
    font-weight: 700;
    margin-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 688.16px;
    height: 137.99px;
    background-color: #434CA0;
}

.caixaResultado{
    background-color: #EC362D;
}


.opcoes{
    display: flex;
    flex-wrap: wrap;
}


.opcao{
    width:330px ;
    margin: 20px 12px;
}

.opcao img{
    
    height: 175px;
}

.opcao p{
    font-size: 20px;
    font-weight: 700;
    height: 34.11px;
    display: flex;
    align-items: center;
    margin-top: 7.75px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    width: 260px;
    height: 52px;
    margin-top: 57px;
    margin-bottom: 16px;
    color: white;
    background-color: #EC362D;
    border-radius: 15px;
    
}

.voltar{
    display: flex;
    align-items: center;
    font-size: 21px;
    height: 44px;
    margin-bottom: 80px;
    color: #818181;
}


/*Tela 3*/
main{
    width: 100%;
    height: 200% auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    margin: 45px 0;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
}

form{
    position: relative;
    width: 600px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 0 0 0;
}

.forms input{
    height: 46px;
    margin: 10px;
    font-style: italic;
    font-size: 19px;
    font-weight: 400;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    color: #BABABA;
}

.pergunta{
    width: 600px;
    padding: 0 5px;
}

.perguntas input{
    width: 100%;
}

.pergunta2{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin: 5px 0;
}

.pergunta2 ion-icon{
    width: 26px;
    height: 23px;
}

form input:focus{
    color: #000000;
    font-style:inherit;
}

h3{
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.imgHP{
    width: 100%;
}

.botaoForm{
    width: 368px;
    height: 54px;
    background-color: #EC362D;
    color: #ffffff;
    border: none;
    margin-top: 40px;
    border-radius: 15px;
    font-size: 21px;
    font-weight: 400;
}

.desaparece{
    display: none;
}


@media(max-width:760px){
    .pergunta{
        width: 375px;
        height: 436px;
     
    }
    .caixaPergunta{
        width: 340px;
        height: 89px;
        font-size: 19px;
    }

    
    .opcao{
        width: 43.5%; 
        margin: 12px 12px 0px 0px;

    }
    .opcao img{
       width: 167px;
        height: 113px;
    }
    .opcao p{
        font-size: 13px;
        height: 22px;
    }
    


}












